<% provide title: @user.name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats" %> 
    </section>
  </aside>
  <aside class="col-md-8">
    <%= render "follow_form" %>
    <h2><% t "_activities" %></h2>
    <%= will_paginate @activities %>
    <ul class="activities">
      <%= render @activities %>
    </ul>
    <%= will_paginate @activities %>    
  </aside>
</div>
