<% provide title: t("_category") %>
<div class="col-md-8">    
  <h3><%= @category.name %></h3>  
  <%= form_for [:admin, @category] do |f| %>
    <%= render "shared/error_messages", object: @category %>
    <div class = "fields" >
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 10, class: "form-control" %>

      <%= f.label :number_of_words_in_lesson %>
      <%= f.number_field :number_of_words_in_lesson, class: "form-control" %>
    </div>
    <ol class = "words">      
      <%= render @words, f: f %>
    </ol> 
  <% end %> 
  <%= link_to t("edit"), edit_admin_category_path(@category) %>
  <%= link_to t("delete"), [:admin, @category], method: :delete,
    data: {confirm: t("confirm")} %>
</div>
