<li id="category-<%= category.id %>">  
  <span class="category"><%= category.name %></span>
  <span class="title"><%= t "you_have_learned" %></span>
  <span class="progress"><%= category.number_of_words_in_lesson %></span>   
  <p class="description"><%= category.description %></p> 
</li>
